# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
*/migrations/
*/migrations/__pycache__/
*/migrations/*.pyc
dist/
build/
.eggs/
*.sqlite3
db.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/
.env
.env.*
**/migrations/

# Node/Vite/React
node_modules/
dist/
dist-ssr/
*.local

# Editor/IDE
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Test/coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
