[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
requests = "*"
mysqlclient = "*"
pipfile = "*"
djangorestframework = "*"
dj-rest-auth = {extras = ["social"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
